<!-- about.html -->
{% extends "base.html" %}

{% block title %}Home - Vacation Point Restraunt{% endblock %}

{% block content %}
<div class="about-cont">
    <div class="about-header">
        <h4>Welcome to the Vacation Point Restraunt</h4>
    </div>
    <div class="about-desc">We got you covered for all your vacations to any hotel.The restaurant is a cozy,
        family-owned establishment that specializes in Italian cuisine. With a warm and inviting atmosphere, the
        restaurant features an open kitchen where patrons can watch the chefs prepare fresh, homemade pasta dishes and
        wood-fired pizzas. The menu also offers a variety of other classic Italian dishes, including antipasti, salads,
        and entrees. To complement the food, the restaurant features a carefully curated wine list and a full bar with
        specialty cocktails. Whether it's a romantic dinner for two or a gathering with friends and family, the
        restaurant is the perfect spot for a delicious meal in a welcoming setting.</div>
</div>
{% endblock %}